apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{name}}
  labels:
    category: {{category}}
    challenge: {{name}}
spec:
  {{#if replicas }}
  replicas: {{replicas}}
  {{else}}
  replicas: 1
  {{/if}}
  selector:
    matchLabels:
      category: {{category}}
      challenge: {{name}}
  template:
    metadata:
      labels:
        category: {{category}}
        challenge: {{name}}
    {{#if containers}}
    spec:
      containers:
      {{#each containers}}
      - name: {{@key}}
        image: {{image}}
        {{#if resources}}
        resources:
          {{#if resources.limits}}
          limits:
            cpu: {{resources.limits.cpu}}
            memory: {{resources.limits.memory}}
          {{/if}}
          {{#if resources.requests}}
          requests:
            cpu: {{resources.requests.cpu}}
            memory: {{resources.requests.memory}}
          {{/if}}
        {{/if}}
        {{#if ports}}
        ports:
        {{#each ports}}
        - containerPort: {{containerPort}}
          name: port-{{containerPort}}
        {{/each}}
        {{/if}}
      {{/each}}
    {{/if}}

{{#if exposeHttp}}
---
apiVersion: v1
kind: Service
metadata:
  name: {{name}}
  annotations: 
    prometheus.io/scrape: 'true'
    {{#each exposeHttp}}
    prometheus.io/port: {{containerPort}}
    {{/each}}
    external-dns.alpha.kubernetes.io/hostname: {{host}}
  labels:
    category: {{category}}
    challenge: {{name}}
spec:
  type: LoadBalancer
  sessionAffinity: ClientIP
  selector:
    category: {{category}}
    challenge: {{name}}
  ports:
    {{#each exposeHttp}}
    - port: {{containerPort}}
      name: port-{{containerPort}}
      targetPort: {{containerPort}}
    {{/each}}
{{/if}}

{{#if exposeTCP}}
---
apiVersion: v1
kind: Service
metadata:
  name: {{name}}
  annotations: 
    prometheus.io/scrape: 'true'
    {{#each exposeTCP}}
    prometheus.io/port: {{containerPort}}
    {{/each}}
    external-dns.alpha.kubernetes.io/hostname: {{host}}
  labels:
    category: {{category}}
    challenge: {{name}}
spec:
  type: LoadBalancer
  sessionAffinity: ClientIP
  selector:
    category: {{category}}
    challenge: {{name}}
  ports:
    {{#each exposeTCP}}
    - port: {{containerPort}}
      name: port-{{containerPort}}
      targetPort: {{containerPort}}
    {{/each}}
{{/if}}
